<html>
    <head>
        <title>
Attributes
        </title>
        <style>
            .h1{
                color: bisque;
                font-size: 100px;
            }
            .p{
                font-size: 100px;
                color: blue;
            }
            .#p{
                font-size: 100px;
                color: whitesmoke;
            }
        </style>
        
    </head>
    <body>
        <div>

<img src="https://img.freepik.com/free-vector/sea-background-video-conferencing_52683-43718.jpg?t=st=1722777805~exp=1722781405~hmac=08c2c34cadfefd9fcb2dcabbc043649f046975e90dd61ad993e2ba5f64ac7ba0&w=1060" width=500px height=600px/>
</div>
<p style="background-color: rgb(251, 152, 152);color: blueviolet;"></p>
<p title="hi eveyone">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit labore non suscipit, voluptates blanditiis maiores quam doloremque iste expedita rerum ratione veniam eius natus nemo deserunt deleniti quae quaerat autem.</p>
<br>
<h1 class="h1">this for class . name</h1>
<p class="p">this for class . name</p>
<p id="p">this for id # class . name</p>
    </body>
</html>